<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISendAlert" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14148/SendAlert.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISendAlert" contract="SendAlertWebService.ISendAlert"
                name="BasicHttpBinding_ISendAlert" />
        </client>
    </system.serviceModel>
</configuration>